body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#intro {
    font-size: 18px;
    margin-bottom: 20px;
    color: black;
}

#changeTextBtn {
    background-color: #2d4cd4;
    color: white;
}

#createItemBtn {
    background-color: #2d4cd4;
    color: white;
}

#btn {
    background-color: #2d4cd4;
    color: white;
}

#dynamicList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    color: #0f2dd1;
}
